* {
	font-family: 'DejaVu Sans', 'BrandonGrotesqueLightRegular', arial, sans;
	font-weight: lighter;
	margin: 0;
	padding: 0;
}
body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	border: 1px dashed black;
	margin-top: 1em;
}
article, header, footer {
	display: block;
}
article {
	/*background-color:#aad4b1;*/
}
h1 {
	float: left;
	font-size: 50pt;
}
header {
	height: 128px;
	position: relative;
}
header form, #userinfo {
	float: right;
	/*border: 1px solid black;*/
}
form input[type="text"], form input[type="password"] {
	width: 128px;
	border: 1px solid black;
}
header form table td {
	font-size: 8pt;
}
header form h6 {
	font-size: 10pt;
}
#register {
	float: right;
}
#userlinks ul {
	list-style: none;
}
#menu {
	clear: both;
	display: block;
	position: absolute;
	bottom: 0;
	float: left;
}
#menu li {
	display: inline;
	margin-right: 0.2em;
	padding: 0;
	float: left;
}
#menu li a {
	padding: 4px;
	display: block;
	text-decoration: none;
	line-height: 23px;
	height: 23px;
	border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
#menu li a:hover {
	background-color: #CDCDCD;
	border-bottom: white;
}
#userinfo {
	width: 190px;
	/*height: 128px;*/
}
#userinfo h6 {
	font-size: 12pt;
}
#userlinks {
	float: right;
}
#avatar {
	float: left;
	width: 64px;
	height: 64px;
}
.error {
	color: red;
}
.clearer {
	clear: both;
}
.category h3 {
	margin-left: 2em;
	float: left;
}
.category p {
	float: right;
}
.post_creator {
	border: 1px solid black;
	float: left;
	width: 128px;
	height: 128px;
	margin-bottom: 1em;
}
.post {
	float: left;
	width: 768px;
	
}
.avatar {
	width: 64px;
	height: 64px;
}
.new_thread {
	font-size: 10pt;
	float: right;
	margin-right: 1em;
}
.post_new form ul, .user_info {
	list-style: none;
	margin-left: 2em;
}
.post_new form input[type="text"], .post_new form textarea {
	border: 1px solid black;
	width: 512px;
	margin-bottom: 1em;
}
.post_new form textarea {
	height: 256px;
}
.wrapper article ul  {
	list-style: none;
}